.image-upload {
  text-align: center;
  img{
    cursor: pointer;
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-shadow: .5px 5px 6px .5px rgba(0, 0, 0, 0.2);
  }
  input{
    display: none;
  }
}