<header>
	<nav class="navbar navbar-expand-md">
    <a class="navbar-brand mx-auto" href="#"><img src="assets/nekso-logo2.svg" alt="nekso" width="80px"></a>
    <button class="navbar-toggler bg-main text-white" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <i class="material-icons">menu</i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
	</div>
  </nav>
</header>