<div class="margin-left">
	<br>
	<div class="row" style="width: 100%">
		<div class="col-12 col-lg-6 mb-4">
			<div class="card">
			  <div class="card-body">
			    <doughnutChart></doughnutChart>
			  </div>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4">
			<div class="card">
			  <div class="card-body">
			    <barChart></barChart>
			  </div>
			</div>
		</div>
			<div class="col-12 col-md-12">
			<div class="card mb-4">
				<div class="card-body">
			    <table class="table">
			    	<div class="floating" routerLink="../detail">
							<i class="material-icons">add</i>
						</div>
					  <thead>
					    <tr>
					      <th scope="col" class="actions">#</th>
					      <th scope="col">Nombre</th>
					      <th scope="col" class="hide-mobile">E-mail</th>
					      <th scope="col">Acción</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr *ngFor="let d of passengers; let i = index">
					      <th scope="row" class="actions">
									<img src="{{d.image}}" alt="{{d.name}}" class="rounded-circle" width="32px">
					      </th>
					      <td>{{d.firstName}} {{d.lastName}}</td>
					      <td class="hide-mobile">{{d.email}}</td>
					      <td class="actions">
							<span class="text-primary action-btn" [routerLink]="['../detail']" [queryParams]="{passengers: i}">
								<i class="material-icons">create</i>
							</span>
							<span class="text-danger action-btn" (click)="deleteUser(i, d.firstName)">
								<i class="material-icons">delete</i>
							</span>
					      </td>
					    </tr>
					  </tbody>
					</table>	
			  </div>
			</div>
		</div>
	</div>

</div>