<ul class="sidebar" [class.show]="_NeksoService.show === true">
  <li *ngFor="let m of menu" [class.close-row]="m.icon == 'power_settings_new'">
	  <a href="javascript:void(0)" routerLinkActive="active" routerLink="{{m.url}}">
	  	<i class="material-icons">{{m.icon}}</i>
		<span>{{m.name}}</span>
	  </a>
  </li>
  <li class="close-row">
	  <a href="javascript:void(0)" routerLinkActive="active" (click)=logout()>
	  	<i class="material-icons">power_settings_new</i>
		<span>Cerrar sesión</span>
	  </a>
  </li>
</ul>